@import '../../style/variables';

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: $login-background-color;

    padding-bottom: 2%;

    &__header {
        color: $primary-color !important;
    }

    &__fields {
        width: 100%;
        max-width: 450px !important;

        .field {
            margin-bottom: 10px;
        }
    }
}