$primary-color: rgba(5, 102, 141, 1);
$primary-color-hover: rgba(2, 128, 144, 1);

$secondary-color: rgba(0, 168, 150, 1);
$secondary-color-hover: rgba(2, 195, 154, 1);

$menu-color: white;
$menu-selected-color: orange;